@import "tailwindcss";
body{
    font-family: "Open Sans", sans-serif;
    color: white;
}
.secondary-color{
    color: #A9A9A9;
}
header,.header-container{
    background-color: #412567;
    height: 92px;
}

.header-logo span{
    font-weight: 700;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn{
    height: 44px;
    width: 135px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 100000px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background 3s 0 0.5s ;
}
.primary-btn:hover{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}
/* Banner section */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.banner-container img{
    position: relative;
}

.banner-container .img .bg2 {
    margin-top: 100px;
}
.banner-container .img span {
   position: absolute;
   top: 38%;
   left: 58%;
   background-color: #00FF88;
   width: 50px;
   height: 22px;
   border-radius: 1000px;
   color: black;
   /* box-shadow: 0 4px 8px 0 #00FF88, 0 6px 20px 0 #00FF88; */
   transition: box-shadow 0 0 3s;
}
.banner-container img:hover .img span{
    box-shadow: 0 4px 8px 0 #00FF88 50%, 0 6px 20px 0 #00FF88 100%;
}
.banner-button .banner-button-primary{
    height: 44px;
    width: 135px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    width: 185px;
    height: 45px;
    border-radius: 100000px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.banner-button .banner-button-secondary{
   color: #00FF88;
   width: 185px;
    height: 45px;
    border: 2px solid #00FF88;
    border-radius: 100000px;
    cursor: pointer;

}
/* About  */
.about-section{
    background-color: #1A0B2E;
    padding: 50px 200px;
}

.about-section .number-card h1{
    color: #00FF88;
}
hr{
    margin-top: 80px;
    opacity: 0.1;
}

/* Choose COntainer */

.choose-container{
    background-color: #230E3D;
    padding: 50px 200px;
}
.choose-container .choose-cards .choose-card img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.choose-container .choose-cards .choose-card{
    /* width: 400px; */
    padding: 20px 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    

}
.choose-container .choose-cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
  
}

/* Feature Section */

.feature-container{
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.feature-container .feature-card{
    width: 33.3%;
    background-color: #250D44;
    border-radius: 20px;
   
    
}
.feature-container .feature-card iframe{
    width: 100%;
    border-radius: 8px;
}
.feature-container .feature-card .feature-vdo-info{
    padding: 24px;
}

/* Host Card */
.host-container{
    background-color: #1A0B2E;
    padding: 0 100px 200px;
}
.host-container .host-card{
    background-color: #351165;
}
.host-card-info p{
    color: #A9A9A9;
}
.host-card-info .host-card-icons{
    width: 20px;
}
/* Footer */
.footer-container{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 412px;
}
.footer-container .footer-icons{
    cursor: pointer;
}

.footer-container h1 span{
    font-weight: 700;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-container h1 {
    font-size: 90px;
}
/* Responsive design */
@media screen and (min-width:320px) and (max-width: 576px) {
    .banner .banner-button .banner-button-primary{
        margin-bottom: 20px;
    }
    .banner-text h1{
        font-size: 50px;
    }
    .about-section{
        background-color: #1A0B2E;
        padding: 40px 15px 0 15px;
}
    .about-section h1{
        font-size: 30px;
        margin-bottom: 16px;
}
    .choose-container{
        background-color: #1A0B2E;
        padding: 40px 15px 0 15px;
        margin: 0;
}
    .feature-container {
        padding: 40px 15px;
}
    .feature-container h1{
        font-size: 30px;
    }
    .feature-card-container {
        flex-direction: column;
}
    .feature-card-container .feature-card{
     width: 100%;
}
    .host-container {
         padding: 0 15px 15px;
}
.host-container .host-card {
  flex-direction: column;
  text-align: center;
  align-items: center;
}   
.host-container h1 {
  font-size: 32px;
} 
    .choose-container h1{
        font-size: 25px;
    }
    .choose-container .choose-cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.about-numbers .number-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
    header .header-menu .links{
        display: none;
    }
    .header-container .primary-btn{
        display: none;
    }


.footer-container h1{
    font-size: 50px;
  
}
.footer-container .footer-icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 50px;
}
.footer-container p{
    text-align: center;
}
}
@media screen and (min-width:576px) {
    header .header-menu .hamburger{
        display: none;
    }
  
}
@media screen and (min-width:577px) and (max-width:1100px) {
        .about-section{
        padding: 50px;
}

.about-numbers .number-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
      .choose-container{
        padding: 40px 20px;
    }
    .choose-container h1{
        margin-top: 40px;
        font-size: 32px;
        font-weight: bold;
    }
    .choose-container .choose-cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
    .choose-container .choose-cards .choose-card{
    margin-bottom: 16px;
}

.feature-container {
  background-color: #1A0B2E;
  padding: 50px
}
.feature-card-container {
    flex-direction: column;
}
.feature-container .feature-card {
  width: 100%;
  background-color: #250D44;
  border-radius: 20px;
}
.host-container .host-card {
  flex-direction: column;
  text-align: center;
}
.host-container .host-card-info h1{
    margin-top: 16px;
}
.host-container .host-card-icons{
    margin-top: 16px;
    width: 100%;
}
}