@import "tailwindcss";
body{
    font-family: "Open Sans", sans-serif;
    color: white;
}
header,.header-container{
    background-color: #412567;
    height: 92px;
}

.header-logo span{
    font-weight: 700;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn{
    height: 44px;
    width: 135px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border-radius: 100000px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
/* Banner section */
.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.banner-container img{
    position: relative;
}
.banner-container .img .bg2 {
    margin-top: 100px;
}
.banner-container .img span {
   position: absolute;
   top: 38%;
   left: 58%;
   background-color: #00FF88;
   width: 50px;
   height: 22px;
   border-radius: 1000px;
   color: black;
   box-shadow: 0 4px 8px 0 #00FF88, 0 6px 20px 0 #00FF88;
}
.banner-button .banner-button-primary{
    height: 44px;
    width: 135px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    width: 185px;
    height: 45px;
    border-radius: 100000px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.banner-button .banner-button-secondary{
   color: #00FF88;
   width: 185px;
    height: 45px;
    border: 2px solid #00FF88;
    border-radius: 100000px;
    cursor: pointer;

}
/* About  */
.about-section{
    background-color: #1A0B2E;
    padding: 50px 200px;
}

.about-section .number-card h1{
    color: #00FF88;
}
hr{
    margin-top: 80px;
    opacity: 0.1;
}

/* Choose COntainer */

.choose-container{
    background-color: #230E3D;
    padding: 50px 200px;
}
.choose-container .choose-cards .choose-card{

}
/* Responsive design */
@media screen and (max-width:576px) {
    header .header-menu .links{
        display: none;
    }
    .header-container .primary-btn{
        display: none;
    }


}
@media screen and (min-width:580px) {
    header .header-menu .hamburger{
        display: none;
    }
  
}
@media screen and (min-width:572px) and (max-width:1100px) {
        .about-section{
        padding: 50px;
}

.about-numbers .number-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
  
}